.scrollable::-webkit-scrollbar {
    width: 0.625rem;
    background-color: white;
    border-radius: 2rem;
}

.scrollable::-webkit-scrollbar-button {
    display: none;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #c6bacf;
    border-radius: 2rem;
}

.overlay-scrollbar {
    overflow-y: scroll;
    overflow-y: overlay;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}