@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0.64rem;
  background-color: white;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-repeat: no-repeat;
  background-position: center 4px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M5%2010l7-7m0%200l7%207m-7-7v18%22%20%2F%3E%0A%3C%2Fsvg%3E");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-color: rgb(231, 231, 231);
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-repeat: no-repeat;
  background-position: center 4px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M19%2014l-7%207m0%200l-7-7m7%207V3%22%20%2F%3E%0A%3C%2Fsvg%3E");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-color: rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb {
  background-color: #c6bacf;
}

.info-card {
  z-index: 999;
  position: fixed;
  border-radius: 1rem;
  box-shadow: 5px 10px 8px 1px #282c34;
  padding: 0.25rem 1.5rem;
  height: 5vh;
  bottom: 5px;
  right: 5px;
  animation: popin forwards ease-in 3500ms;
}

@keyframes popin {
  0% {
    bottom: 5px;
    right: -50%;
  }

  10% {
    right: 5px;
  }

  80% {
    right: 5px;
  }

  90% {
    right: -100%;
  }

  100% {
    right: -100%;
  }
}

.sidemenu-content {
  animation: slidein forwards ease-in 500ms;
}

.sidemenu-content-hide {
  animation: slideout forwards ease-in 500ms;
}

@keyframes slidein {
  0% {
    right: -75%;
  }

  100% {
    right: 0;
  }
}

@keyframes slideout {
  0% {
    right: 0;
  }

  100% {
    right: -75%;
  }
}