@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes path-animate {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 10;
    }

    50% {
        stroke-dasharray: 135,200;
        stroke-dashoffset: -15;
    }

    100% {
        stroke-dasharray: 120,200;
        stroke-dashoffset: -150;
    }
}

.loading-circle {
    animation: path-animate 2.7s ease-in-out infinite;
}

.loader-container {
    animation: rotation 1.5s linear infinite;
    transform-origin: center center;
}